body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    font-size: 20px;
    padding: 15px 40px;
    background-color: #282828;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: #1b1b1b;
}

.hidden {
    display: none;
}

#highScore, #credits {
    margin-top: 30px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}
