#board {
    background-color: black;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    color: white;
}

.menu {
    margin-top: 50px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}

button {
    background-color: #282828;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: white;
    color: #282828;
}
